<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{{ 'default'|page }}" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="{{ 'features'|page }}" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="{{ 'pricing'|page }}" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="{{ 'about'|page }}" class="nav-link">About</a></li>
    </ul>
  </header>
</div>