==
<!DOCTYPE html>
{# by changing data-bs-theme="dark" to data-bs-theme="light" you change the theme. #}
<html lang="en" data-bs-theme="light">
<head>
    {% partial "system/metadata" %}
    {% partial "system/stylesheets" %}
    {% partial "system/JavaScripts" %}
    <title>Valgerd | Bootstrap Rolling Release</title>
</head>
<body>
    {% partial "icons" %}
    <main >
        {% page %}
    </main>
    <footer class="fixed-bottom">
        {% partial "footer" %}
    </footer>
    <script src="{{ 'assets/vendor/bootstrap/js/bootstrap.bundle.js'|theme }}"></script>
    {% framework %}
    {% framework extras %}
    {% scripts %}
</body>
</html>